@{
    ViewBag.Title = "Recruitment And Retention Report";
}

@section scripts {
    <script src="~/Scripts/rp.js"></script>
}

<style scoped>
    .title
    {
        font-size: 1.5rem;
    }

    #lblCount
    {
        font-size: 3rem;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-2 text-center bg-light border">
        <label class="title mt-3">Terminated In Year</label>
        <hr />
        <div id="lblCount" class="text-danger">0</div>
    </div>

    <div class="col-md-10 text-center border-top border-right border-bottom">
        <label class="title mt-3">Weekly Recruitment Current Year</label>
        <hr />
        <div id="weeklyRecruitmentChart"></div>
    </div>
</div>